body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    margin: auto;
}

.header{
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: #ee784ac5;
}

.header ul li{
    list-style: none;
    display: inline-block;
    padding: 1%;
    background-color: rgb(255, 167, 126);
}

.header ul li:hover{
    background-color: rgb(255, 195, 185);
}

.header ul li a{
    text-decoration: none;
    color: black;
}

.main{
    background-color: #e2a08c;
    margin-top: 80px;
    text-align: center;
    padding: 1%;
}

.main input{
    width: 20%;
    background-color: rgb(235, 244, 255);
    border-color: rgb(235, 244, 255);
}

.main input:hover{
    background-color: rgb(185, 215, 255);
}

.footer{
    width: 100%;
    background-color: #ee6b4a;
    text-align: center;
}

.footer img {
    width: 5%;
}