body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    margin: auto;
}

.header{
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: #ee784ac5;
}

.header ul li{
    list-style: none;
    display: inline-block;
    padding: 1%;
    background-color: rgb(255, 195, 126);
}

.header ul li:hover{
    background-color: rgb(255, 185, 185);
}

.header ul li a{
    text-decoration: none;
    color: black;
}

.main{
    background-color: #e2ab8c;
    margin-top: 80px;
    text-align: center;
    padding: 1%;
}

.main img{
    width: 100%;
}

.footer{
    width: 100%;
    background-color: #ee864a;
    text-align: center;
}

.footer img {
    width: 5%;
}